@import url('https://fonts.googleapis.com/css2?family=Modak&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #CE2F7D;
    --color-secondary: #00522D;
    --color-tertiary: #F5DF7A;
    --color-dark: #363636;

    --font-modak: "Modak", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}