---
import Layout from "../layouts/Layout.astro"
---

<Layout showHeader titrePage="Recettes">
    <div class="py-50 bg-tertiary">
        <h1 class="text-secondary font-modak uppercase">nos recettes</h1>
    </div>
</Layout>