---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ScrollToTop from "../components/ScrollToTop.astro";
import BottomNav from "../components/BottomNav.astro";

interface Props {
    showHeader?: boolean;
	titrePage?: string;
}

const { showHeader = false, titrePage } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>NŪRA - {titrePage}</title>
	</head>
	<body class="pb-16 md:pb-0">
		{showHeader && <Header titrePage={titrePage} />}
		<slot />
		{showHeader && <ScrollToTop />}
		{showHeader && <BottomNav currentPage={`/${titrePage?.toLowerCase()}`} />}
		{showHeader && <Footer/>}
	</body>
</html>

<style>
	html,
	body {
		background-color: var(--color-tertiary);
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
